options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex index.php

# otherwise forward it to index.dev.php
RewriteRule . index.php

php_value max_execution_time 5
php_value max_input_time 10
php_value memory_limit 32M