.ui-custom-icon-plus{
    background-image: url('/images/plus.png') !important;
}
.ui-custom-icon-tick-32{
    background-image: url('/images/tick-32.png') !important;
    left: 16px !important;
    top:16px !important;
    width:32px !important;
    height:32px !important;    
}

.ui-custom-icon-up{
    background-image: url('/images/arrow-090-medium.png') !important;
}
.ui-custom-icon-down{
    background-image: url('/images/arrow-270-medium.png') !important;
}

#main-div{
    min-height:600px;
    width:100%;
    text-align: center;
}

.step-div{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.app-half-div{
    text-align: left;
    margin: 4px;
}

#left-div{
    float:left;
    width:41%;
    text-align: center;
    min-height: 300px;
    max-height: 300px;
    margin-left:8px;
}

#right-div{
    min-height: 300px;
    max-height: 300px;
    width:56%;
    float:right;
    margin-right:8px;
}

#instruction-grid{
    min-height:210px;
    max-height:210px;
   
    overflow-y:auto;
    padding:0px;
}

#controls-div{
    margin: 8px;
}
#bottom-div{
    margin-left:8px;
    margin-right:8px;
    clear: both;
    min-height: 200px;
}

#bootstrap-button,#fetch-first-instruction-button{
    
    top:10px;
}



#mux-b-regs-div, #mux-a-regs-div, #memory-related-regs-div,#ir-regs-div{
    min-height: 150px;
    max-height: 150px;
    min-width: 200px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5px;
    float:right;
}
#memory-related-regs-div{
    float:left;
}
#ir-regs-div{
    min-height:50px;
}

.reg-contents-input{
    font-size: 12px !important;
    font-family: monospace;
}

#current-instruction-span{
    color:blue;
    font-family: monospace;
}
#current-microinstruction-span{
    color:black;
    font-family: monospace;
}