.ui-custom-icon-plus{
    background-image: url('/images/plus.png') !important;
}
.ui-custom-icon-tick-32{
    background-image: url('/images/tick-32.png') !important;
    left: 16px !important;
    top:16px !important;
    width:32px !important;
    height:32px !important;    
}
.panel-div{
    min-height:600px;
    width:100%;
    text-align: center;
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(top,white,whiteSmoke);
    background-image: -ms-linear-gradient(top,white,whiteSmoke);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(whiteSmoke));
    background-image: -webkit-linear-gradient(top,white,whiteSmoke);
    background-image: -o-linear-gradient(top,white,whiteSmoke);
    background-image: linear-gradient(top,white,whiteSmoke);
    background-repeat: repeat-x;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
.ui-custom-icon-up{
    background-image: url('/images/arrow-090-medium.png') !important;
}
.ui-custom-icon-down{
    background-image: url('/images/arrow-270-medium.png') !important;
}

#main-div{
    min-height:600px;
    width:100%;
    text-align: center;
}

.step-div{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.app-half-div{
    text-align: left;
}

#left-div{
    float:left;
    width:39%;
    margin-left:8px;
    margin-bottom: 8px;
    text-align: center;
    min-height: 300px;
    max-height: 300px;
    
}

#right-div{
    min-height: 300px;
    max-height: 300px;
    width:50%;
    float:right;
    margin-right:8px;
    margin-bottom: 8px;
}

#instruction-grid{
    min-height:235px;
    max-height:235px;
    overflow-y:auto;
    padding:0px;
}

#controls-div{
    margin: 8px;
}
#bottom-div{
    margin:8px;
    clear: both;
    min-height: 200px;
}

#bootstrap-button,#fetch-first-instruction-button{
    position:relative;
    top:20px;
}



#mux-b-regs-div, #mux-a-regs-div, #memory-related-regs-div,#ir-regs-div{
    min-height: 150px;
    max-height: 150px;
    min-width: 200px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5px;
    float:right;
}
#memory-related-regs-div{
    float:left;
}
#ir-regs-div{
    min-height:50px;
}

.reg-contents-input{
    font-size: 12px !important;
    font-family: monospace;
}

#current-instruction-span{
    color:blue;
    font-family: monospace;
}
#current-microinstruction-span{
    color:black;
    font-family: monospace;
}